ILUS5-SCSS/config.js linguist-detectable=false
ILUS5-SCSS/main.scss linguist-detectable=false
ILUS5-SCSS/_utilities.scss linguist-detectable=false
ILUS5-SCSS/_specials.scss linguist-detectable=false
ILUS5-SCSS/_elements.scss linguist-detectable=false
ILUS5-SCSS/_forms.scss linguist-detectable=false
ILUS5-SCSS/_mixins.scss linguist-detectable=false
ILUS5-SCSS/_responsiveness.scss linguist-detectable=false
ILUS5-SCSS/_functions.scss linguist-detectable=false
scss-version/* linguist-detectable=false
scss-version/scss/* linguist-detectable=false
