%btn {
    text-decoration:none;
    display:inline-block;
    margin:0.4rem 0;
    padding:0.7rem 1rem;
    border-radius:7px;
    border:none;
    outline:none;
    cursor:pointer;
     -webkit-tap-highlight-color: transparent;
}

%btn {
	padding: 0.75rem;
	border-radius: 0.75rem;
	outline: none;
	border: none;
	cursor: pointer;
}

%btn:active{
    transform:scale(0.9);
}

%btn[disabled]{
    opacity:0.45;
    text-decoration:line-through;
}