$red:#f03d30;
$salmon:#fa514b;

$lime:#32be47;
$green:#68bd33;
    
$blue:#0081de;
$cyan:#5ac7fa;
    
$gold:#ffbf00;
$yellow:#ffee00;
    
$violet:#7c30ff;
$purple:#b71cff;
    
$rose:#fa2363;
$pink:#ff63d0;
    
$sea:#3efa93;
$teal:#33bd96;
    
$orange:#ff8000;
$orangy:#ffa500;
    
    
$light:#cccccc;
$grey:#a7a7a7;
    
$dark:#141414;
$night:#202020;
    
$brown:#9e521b;
$wood:#3b2714;
    
$apple:#f0003c;