

/*--ilus 6 beta source code------------*/

/*
contents:
=>presets
=>typography(needs work)
=>elements (radio needs work)
=>components (nav needs work)
=>utilities
=>12-col-grid (gutter refinement)


to be implemented:
->breadcrumbs
->paggination
->menu
->bottom bar
->modals
->tooltips(new)
->checkboxes
->selection
->form select etc

*/



:root{
  
  
   /*color variables*/
  
  --font:'Montserrat','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
   
   --red:#ff2c2c;
   --salmon:#f16461;
   --maroon:#900000;
  
  
   --lime:#32be47;
   --green:#68bd33;
   --olive:#708238;
  
   --blue:#0081de;
   --cyan:#5ac7fa;
   --indigo:#330088;

   --gold:#d2a85f;
   --yellow:#ffdd32;
   --sand:#faf4c5;
    
   --violet:#7c30ff;
   --purple:#b71cff;
   --magenta:#cc00cc;
     
   --rose:#c21e56;
   --pink:#e44b8d;
   --apple:#ff033e;
     
   --sea:#00ec9c;
   --teal:#33bd96;
   --aqua:#90ffff;
   
   --orange:#ff8000;
   --amber:#ffa500;
   --vermilion:#e34234;
   
   --light:#ccc;
   --grey:#757575;
   --steel:#47656e;
   
   --alpha:rgba(255,255,255,0.5);
   --auto:rgba(0,0,0,0.5);
   --dark:#141414;
   --night:#202020;
   
   --brown:#8b624b;
   --wood:#3b2714;
   --coco:#b78f76;
   
   --background:#f4f4f4;
   --background2:#ececec;
   
   --primary:var(--blue);
   --secondary:var(--background2);
   --accent:var(--orange);
   
   
  
}



/*PRE-SETS=============*/

/*body*/


body {
    --text:#222;
    --contrastText:#fff;
    --lighterText:var(--grey);
    --contrast:var(--night);
    --lighterBackground:#ffffff;
    --glass:rgba(255,255,255,0.4);
    --border:#b4b4b4;
    --roundness:0.45rem;
    
    margin:0;
    padding:0;
    background-color:var(--background);
    color:var(--text);
    font-family:var(--font);
    
}
body[data-theme=dark]{
  --text:#eee;
  --background:#121212;
  --background2:#212121;
  --secondary:var(--background2);
  --lighterText:#565656;
  --contrast:#e6e6e6;
  --contrastText:#434343;
  --lighterBackground:#1A1A1A;
  --glass:rgba(12,12,13,0.8);
  --border:#373737;
 
}
h1,h2,h3,h4,h5,h6{
  color:var(--text);
}


/*html*/
html{
  scroll-behavior:smooth;    
}

/*hr-horizontal line*/
hr{
    padding:0.075rem 0;
    background-color:var(--background2);
    border:none;
    margin:none;
    border-radius:4px;
}

/*anchor tags*/
a{
    -webkit-tap-highlight-color:
    transparent;
    color:var(--primary);
    cursor:pointer;
    
}
a.text{
   -webkit-tap-highlight-color:
    transparent;
    cursor:pointer;
    text-decoration:none;
    
}
a:hover:not(.btn,.text){
    color:var(--cyan);
}
a:active:not(.btn,.text){
    color:var(--aqua);
}
a:visited:not(.btn,.text){
  color:var(--violet);
}
/*underlines*/
.u{
    border-bottom:2px solid;
    border-bottom-color:inherit;
    text-decoration:none;
}
.sub-text{
  margin-top:0.25rem;
  color:var(--lighterText);
}

/*SIMPLE-COMPONENTS============*/



/*btn--------------------*/

.btn{
    text-decoration:none;
    color:var(--contrastText);
    display:inline-flex;
    margin:0.4rem 0.19rem;
    background-color:var(--contrast);
    padding:0.7rem 1.5rem;
    border-radius:var(--roundness);
    border:none;
    font-weight:bold;
    font-size:0.85rem;
    outline:none;
    text-align:center;
    transition:0.1s;
    cursor:pointer;
    box-shadow:none;
    -webkit-tap-highlight-color: transparent;
    justify-content:center;
   align-items:center;
   vertical-align:middle;
   
}

.btn:active{
    transform:scale(0.9);
}
.btn:hover,.btn:focus{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px 0px;
}
.btn.block{
    width:100%;
}
.btn.text{
  background: transparent;
  color:var(--text);
  padding:0.25rem;
  margin:0;
  font-weight:400;
 font-size:1rem;
}

[disabled]{
    opacity:0.45;
    text-decoration:line-through;
}
.btn .loader{
  height:auto;
  width:60px;
}
.btn .loader span{
  width:10px;
  height:10px;
  background:var(--contrastBackground);
}
.btn .loader{
    padding:0.20rem 0.25rem;
}
.btn.big{
  padding:1.2rem 1rem;
 
}



/*img-------------------*/
.img{
    width:100%;
    border-radius:var(--roundness);
    margin:auto;
    margin-top:0.3rem;
    margin-bottom:0.4rem;
}
.bg-img{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}



/*code------------------*/
.code{
  display:block;
  background-color:var(--background2);
  font-size:90%;
  white-space:no-wrap;
  padding:1rem;
  font-family:courier-new,monospace;
  margin:0.5rem;
  color:var(--text);
 border-radius:var(--roundness);
 overflow:scroll;
max-width:560px;
}

/*card---------------*/
.card{
   box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color:var(--lighterBackground);
    ;
    margin:1rem;
    overflow:auto;
    display:block;
    border-radius:var(--roundness);
    transition:0.1s;
}
.card-content{
    padding:0.9rem;
    padding-top:0.5rem;
}
.card-img{
    width:100%;
    marin:auto;
    
}


/*list--------------------*/
ol.list,ul.list{    
    padding:0.0rem;
    list-style:none;
    background-color:var(--lighterBackground);
    border-radius:7px;
    color:black;
    display:block; 
    overflow:hidden; 
      
}
.list li{
    padding:0.7rem;
    border-bottom:1px solid #ccc;
    transition:0.1s;
}
.list li:last-child{
    border-bottom:none;
}
.active  li:hover{
    background-color:var(--light);
}

.items-list{
  list-style:none;
  padding-left:0.5rem;
 
 
}
.items-list li{
  padding:0.25rem 0.1rem;
  display:flex;
  margin:0rem;
  align-items:center;
  
}
.items-list li .icon{
  margin-right:0.75rem;
  box-sizing:border-box;
  display:flex;
}

/*tables----------------*/
.table{
    border-collapse:collapse;
    width:100%;
    font-size:0.9em;
    margin:1.2rem 0;
    overflow:hidden;
    box-shadow:0 0 15px rgba(0,0,0,0.15);
    border-radius:var(--roundness);
    background-color:white;
}
thead{
    background-color:var(--contrast);
    color:white;
}

.table thead tr {
  background-color:inherit;
  color:inherit ;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition:0.1s;
}
.active tbody tr:hover{
  background-color:var(--background2);
}


/*INPUTS===============*/



/*inp-----------------*/
.form{
  padding:1rem;
  background:var(--background2);
  display:flex;
  flex-direction:column;
  position:relative;
  align-items:center;
  justify-content:center;
  border-radius:var(--roundness);
  max-width:560px;
}


.inp{
    outline:none;
    width:93%;
    padding:0.6rem;
    margin:0.71rem 0;
    font-size:1rem;
    border-radius:var(--roundness);
    border:1px solid var(--lighterText);
    transition:border 0.2s;
    color:var(--contrast);
background:var(--lighterBackground);
    
}
.form .inp{
  margin:0;
  border-color:var(--border);
}
.label{
  width:95%;
  text-align:left;
  font-size:1rem;
  display:flex;
  align-items: center;
  margin-bottom:0.3rem;
  margin-left:-0.4rem;
}
.form .form-heading{
 width:100%;
 display:flex;
}
.form .label{
  margin-top:1.5rem;
}
.form .label:nth-of-type(1){
  margin-top:0.5rem;
}

.form-btn:nth-of-type(1){
  width:100%;
  margin-top:1.5rem;
}

.inp::placeholder {
  color:#848484;
  font-weight:300;
}
.inp:focus{
    
    border-color:var(--steel);
    border-width:0.15rem;
    
}
.inp.error{
  border-color:var(--red) !important;
  color:var(--maroon);
}
.inp.success{
  border-color:var(--lime)!important;
  color:var(--green);
}
textarea{
   height:100px;
}



/*slider-----------*/
.slider{
    -webkit-appearance:none;
    width:100%;
    height:1.2rem;
    background-color:var(--secondary);
    border-radius:var(--roundness);
    overflow:hidden ;
    outline:none;
    margin:0.5rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:15px;
    height:19px;
    border-radius:50%;
    border:3px solid var(--primary);
    background:white;
    border-radius:var(--roundness);
    box-shadow:-5000px 0 0 4994px var(--primary);
    }
.slider.error::-webkit-slider-thumb{
    box-shadow:-5000px 0 0 4994px var(--red);
    border-color:var(--red);
}
.slider.success::-webkit-slider-thumb{
    box-shadow:-5000px 0 0 4994px var(--lime);
    border-color:var(--lime);
}
.slider.error::-webkit-slider-thumb{
    box-shadow:-5000px 0 0 4994px var(--gold);
    border-color:var(--gold);
}

/*toggles----------------*/
.toggle{
    width:60px;
    height:30px;
     -webkit-appearance:none;
     background-color:var(--background2);
     border-radius:25px;
     outline:none;
     transition:0.1s;
     box-shadow:inset 0 0 5px rgba(0,0,0,.4);
     position:relative ;
     transform:scale(0.78);
}
input:checked.toggle{
    background-color:var(--blue);
}

.toggle:before{
    content:'';
    width:30px;
    height:30px;
    border-radius:50%;
    position:absolute ;
    top:0;
    left:0;
    background:var(--lighterBackground);
    transform:scale(1.1);
    transition:0.1s;
    box-shadow:1px 2px 5px rgba(0,0,0,.2);
    
}
input:checked.toggle:before{
    left:30px;
    
}
input:checked.toggle{
  box-shadow:none;
}
input:checked.toggle.success{
    background-color:var(--lime);
}
input:checked.toggle.warn{
    background-color:var(--gold);
}
input:checked.toggle.error{
    background-color:var(--red);
}
.toggle:before{
    transform:scale(0.7);
    box-shadow:0 0 0 rgba(0,0,0,0);
}

/*radio-----------*/

.radio{
    width:30px;
    height:30px;
    border-radius:50%;
     -webkit-appearance:none;
     border:4px solid var(--background2);
     outline:none;
     transition:0.1s;
     position:relative ;
     transform:scale(0.78);

}
input:checked.radio{
    background:radial-gradient(var(--blue) 50%,rgb(0,0,0,0) 50%);
    border-color:var(--blue);
}
input:checked.radio.error{
    background:radial-gradient(var(--red) 50%,rgb(0,0,0,0) 50%);
    border-color:var(--red);
}
input:checked.radio.success{
    background:radial-gradient(var(--lime) 50%,rgb(0,0,0,0) 50%);
    border-color:var(--lime);
}

input:checked.radio.warn{
    background:radial-gradient(var(--gold) 50%,rgb(0,0,0,0) 50%);
    border-color:var(--gold);
}






/*INLINE-SIMPLE-COMPONENTS==========*/

/*badge-----------*/
.badge{
    display:inline-block;
    background-color:var(--contrast);
    padding:0.25rem 0.5rem;
    color:var(--contrastText);
    font-weight:700;
    border-radius:3489px;
}
.btn-with-badge{
  position:relative;
}
.btn-with-badge .badge{
  position:absolute;
  top:-20%;
  right:-10%;
}

/*tags---------*/
.tag{
  display:inline-block;
  background-color:var(--light);
  font-family: monospace;
  color:var(--rose);
  padding:0.1rem 0.2rem;
  border-radius:3px;
}


/*notes------------*/
.note{
    color:#004e91;
    background-color:rgba(0,78,145,0.3);
    border-left:5px solid #004e91;
    margin:1rem;
    padding:0.09rem 0.9rem;
    border-radius:0 5px 5px 0;
    display:block;
}
.note a{
    color:inherit;
    font-weight:700;
}
.nota a:visited{
  color:inherit;
}
.note.error{
    color:#b30909;
    background-color:rgba(179, 9, 9,0.2);
    border-color:#b30909;
}
.note.success{
    color:#009122;
    background-color:rgba(0,145,34,0.2);
    border-color:#009122;
}
.note.warn{
    color:#d1a400;
    background-color:rgb(209, 164, 0,0.2);
    border-color:#d1a400;
}

/*panel-----------*/

.panel{
    position:relative ;
    left:-1rem;
    width:100%;
    padding:2rem 1rem;
    background:var(--dark);
    color:white;
    display:block;
    padding-left:-500px;
    margin:0.8rem 0;
}


/*COMPLEX COMPONENTS================*/

/*nav---------*/

.nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:0.45rem ;
    background-color:var(--contrast);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    z-index:20;
    overflow:auto;
    height:2.5rem;
    display:flex;
    color:white;
    align-items:center;
    justify-content:space-between;
    
    
}
.nav.not-fixed{
  position: relative;
}
.nav:empty{
    padding:1.5rem;
}

.nav .right{
    margin-right:40px;
}
.nav .left{
    margin-left:20px;
}
.nav .center{
    margin-left:45px;
}

.nav .nav-logo{
    font-size:1.5rem;
    font-weight:bolder;
    color:var(--text);
}
.nav ul,.nav ol{
   list-style:none; 
   position:relative ;
   right:0;
   margin-right:40px;
}
.nav ul li,.nav ol li{
    display:inline-block ;
    padding:0.3rem 0.6rem;
    marin:0.4rem;
    border-radius:7px;
    transition:0.1s;
}


.nav li.active{
background:var(--blue);
font-weight:700;
}
.nav ul li:hover:not(.dropdown,.nav-btn){
    background:rgba(0,0,0,0.2);
}
.nav li.active:hover{
    background:var(--blue);
}


.nav-menu{
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px;
    height:48px;
    border-radius:7px;
    position:relative;
    transform:scale(0.56);
}
.menu-icon{
    width:50px;
    height:6px;
    background:white;
    border-radius:var(--roundness);
    position:absolute;
    transition:all 0.15s;
}
.menu-icon.dark::after,.menu-icon.dark::before{
  background:var(--dark);
}
.menu-icon:not(.dark)::after,.menu-icon:not(.dark)::before,.menu-icon:not(.dark){
  background:var(--contrast);
}
.menu-icon::after,.menu-icon::before{
   content:'';
    width:50px;
    height:6px;
    background:var(--lighterBackground);
    position:absolute;
    border-radius:var(--roundness); 
    transition:0.5s;
}
.menu-icon::before{
    transform:translateY(-16px);
}
.menu-icon::after{
    transform:translateY(16px);
}

.nav-menu.active .menu-icon{
    transform:translateX(-50px);
    background:transparent;
}
.nav-menu.active .menu-icon::before{
    transform:rotate(45deg) translate(35px,-35px);
}
.nav-menu.active .menu-icon::after{
    transform:rotate(-45deg) translate(35px,35px) ;
}



/*sidenav-----------------*/
.sidenav{
    width:0;
    height:100%;
    position:fixed;
    z-index:5000;
    background-color:var(--contrast);
    color:white;
    left:0;
    top:0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11.3115px 40px 0px;
    transition:width 0.5s,left 0.5s,opacity 0.3s;
    overflow:hidden ;
    padding-top:2.5rem;
    padding-right:0;
    opacity:0;
    
}
.sidenav ul,.sidenav ol{
    padding-left:0;
}
.sidenav.fromright{
  right:0;
  left:100%;
  width:75%;
}
.sidenav.slide{
  width:75%;
  left:-100%;
}
.sidenav.slide.active{
  left:0;
}
.sidenav li{
    list-style:none;
    padding: 2rem 1rem;
    font-size:1.25rem;
    transition:0.2s;
    margin:none;
    
}

.sidenav-simple li:hover{
    background-color:rgba(0,0,0,0.2);
    font-size:1.5rem;
}
.sidenav-simple a,.nav li a{
    color:inherit;
    text-decoration:none;
    cursor:pointer ;
    -webkit-tap-highlight-color: transparent;
    
}
.sidenav.active{
    width:75%;
    opacity:1;
}
.sidenav.fromright.active{
  
  left:25%;
}
.sidenav.topnav.active{
    height:100%;
    width:100%;
}
/*sidenav-top-----------------*/
.topnav{
    width:100%;
    height:0;
    z-index:10;
    transition:height 0.5s;
    text-align:center ;
    padding-top:3rem;
}





/*dropdrowns------------*/

.dropdown{
    position:relatie;
    display:inline-block;
    z-index:25;
  
}

.dropdown .dropdown-content{
    position:absolute;
    background-color:var(--contrastText);
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index:1010;
    border-radius:var(--roundness);
    text-align:center;
    overflow:hidden;
    display:none;

}
.dropdown .btn,.dropdown btn{
    margin-bottom:0px;
}
.dropdown .btn:after, .dropdown btn:after,.dropdown .drop-btn:after{
  content:"\25BC";
  font-size:10px;
  margin-left:10px;
}

.dropdown-content .dropdown-item{
    text-decoration:none;
    z-index:inherit;
   color:var(--contrast);
    display:none;
    padding:0.5rem 0.2rem;
    transition:0.2s;
    background-color:transparent;
}
.dropdown-item.active{
  background:var(--primary);
  color:white;
}


.dropdown-content .dropdown-item:hover{
    background-color:rgba(0,0,0,0.2);
   
}

.dropdown:hover:not(.no-hover) .dropdown-content{
    display:block;

}
.dropdown hr{
  padding:0.04rem;
  margin:0;
}
.dropdown-content.active .dropdown-item,.dropdown-content.active{
  display:block;
}

.dropdown:hover:not(.no-hover) .dropdown-content .dropdown-item{
    display:block;
}





/*accordion---------------*/

.accordion{
  max-width:400px;
  box-shadow:0 0 10px rgba(0,0,0,0.15);
  border-radius:var(--roundness);
  overflow:hidden;
  background:var(--contrast);
  margin-top:1rem;
  color:white;
}
.accordion-flushed{
  background:transparent!important;
  box-shadow:none !important;
  color:black!important;
  border-radius:0!important;
}

.accordion label,.accordion .accordion-content{
  padding:14px 20px;
  
}
.accordion label{
  display:block;
  position:relative;
  color:var(--text);
  font-weight:500;
  cursor:pointer;
  -webkit-tap-highlight-color: transparent;
  transition:background 0.1s;
}

.accordion label:hover{
  background:rgba(0,0,0,0.3);
}
.add-symbol:after{
    content:'+';
    font-weight:bold;
    float:right;
    margin-right:7px;
}



.accordion-content{
  background:var(--lighterText);
  color:var(--text);
  display:none;
}
.accordion-flushed .accordion-content{
  background: transparent;
  color:var(--lighterText);
}
.accordion input[type="radio"],
.accordion input[type="checkbox"]{
  display:none;
}


.accordion input[type="radio"]:checked~.accordion-content{
  display:block;
}
.accordion input[type="checkbox"]:checked~.accordion-content{
  display:block;
}
.accordion-content.active{
  display:block;
}

.accordion input[type="checkbox"]:checked~.add-symbol:after{
  content:'-';
  float:right;
  font-weight:bold;
}


/*loader-------------------*/
.loader{
  display:flex;
  justify-content:space-around;
  align-items:flex-end;
  width:100px;
}
.loader span{
  background:black;
  width:15px;
  height:15px;
  border-radius:50%;
  animation:loader 0.5s infinite alternate;
}

.loader span:nth-child(1){
  animation-delay:0.125s;
}

.loader span:nth-child(2){
  animation-delay:0.25s;
}
.loader span:nth-child(3){
  animation-delay:0.35s;
}
.loader-big span{
  width:24px;
  height:24px;
}

/*bar-------------*/
.bar{
    display:block; 
    height:30px;
    background-color:var(--secondary);
    border-radius:var(--roundness);
    position:relative ;
    max-width:400px;
}
.bar-status{
   
    height:100%;
    position:absolute ;
    transition:width 0.5s;
    left:0;
     background-color:var(--primary);
    border-radius:var(--roundness);
    display:block;
    width:45%;
    line-height:30px;
    color:white;
    
}

.bar-label{
    margin-left:5px;
    font-weight:bold;
}



/*UTILITY====================*/

/*positioning-----------*/
.right{
    float:right;
}
.left{
    float:left;
}
.center {
    display:grid;
    place-items:center;
}
/*snap-----*/
.snap-top{
  top:0;
}
.snap-right{
  right:0;
}
.snap-left{
  left:0;
}
.snap-bottom{
  bottom:0;
}

/*text---------------*/

.text-center{
    text-align:center;
}
.text-right{
    text-align:right;
}
.text-left{
  text-align:left;
}


.text-thin{
  font-weight:300;
}
.text-regular{
  font-weight:400;
}
.text-bold{
  font-weight:500;
}
.text-boldest{
  font-weight: 700;
}

/*fonts--------------*/

.font-cursive{
    font-family:"Brush Script MT", cursive;
}
.font-mono{
  font-family:courier new, courier,monospace;
}
.font-regular{
  font-family:ariel,helvetica, sans-serif;
}
.font-serif{
  font-family:"Times New Roman", Times, serif;
}


.font-size-1,.font-small{
    font-size:0.75rem;
}
.font-size-2,.font-regular{
    font-size:1rem;
}
.font-size-3{
    font-size:1.25rem;
}
.font-size-4,.font-medium{
    font-size:1.5rem;
}
.font-size-5{
    font-size:1.75rem;
}
.font-size-6,.font-large{
    font-size:2rem;
}
.font-size-7,.font-xl{
    font-size:2.5rem;
}
.font-size-8,.font-jumbo{
    font-size:3rem;
}
/*rounded--------*/

.circle{
    border-radius:50%;
}
.pill{
    border-radius:20000px;
}
.rounded{
    border-radius:7px;
}
.lil-round{
    border-radius:4px;
}
.sharp{
    border-radius:0px;
}
/*glassy--------------*/
 
.glass{
  backdrop-filter:saturate(180%) blur(20px);
  background-color:var(--glass);
  color:rgba(0,0,0,0.8);
}
.glass-dark{
  background-color:rgba(12,12,13,0.8);
  color:rgba(255,255,255,0.8);
}


/*display------------*/
.hide{
    display:none;
}
.block{
    display:block;
}
.inline{
  display:inline;
}
.flex{
    display:flex;
}
.flex-center-x,.flex-center,.row-center{
  justify-content:center;
}
.flex-center-y{
  align-items:center;
}
.flex-between,.row-gutter-auto{
  justify-content:space-between;
}
.flex-around,.row-gutter-around{
  justify-content:space-around;
}
.flex-even,.row-gutter-fill{
  justify-content:space-evenly;
}
.flex-col{
  flex-direction: column;
}
.flex-row{
  flex-direction:row;
}

.inlineflex{
  display:inline-flex;
}
.grid{
    display:grid;
}
/*positions--------*/
.fixed{
    position:fixed;
}
.relative{
    position:fixed;
}
.absolute{
    position:absolute;
}
/*no classes---------*/
.transparent{
    background-color:transparent;
}
.no-transform{
    transform:none;
}
.no-boder{
    border:none;
}
/*border------------*/
.border{
  --border:var(--grey);
    border:1px solid var(--border);
}



/*w&h----------------*/
.width-full{
    width:100vw;
}
.height-full{
    height:100vh;
}
.width-half{
    width:50vw;
}
.height-half{
    height:50vh;
}
.strech-full{
    
    width:100%;
}
/*raise (z-index)------------------*/
.z-top{
  z-index:1000;
}
.z-mid{
  z-index:2;
} 
.z-back{
z-index:-1000;
}




/*padding------------------*/
.pack,.pack-4{
  padding:1rem;
}
.pack-1{
    padding:0.25rem;
}
.pack-2{
    padding:0.5rem;
}
.pack-3{
    padding:0.75rem;
}
.pack-0{
    padding:0;
}
.pack-5{
    padding:1.5rem;
}
.pack-6{
    padding:3rem;
}

/*wrap---------------*/
.wrap,.wrap-4{
  margin-top: 1rem!important;
}

.wrap-1 {
  margin-top: 0.25rem!important;
}

.wrap-2 {
  margin-top: 0.5rem!important;
}

.wrap-3 {
  margin-top: 0.75rem !important;
}

.wrap-0 {
  margin-top: 0 !important;
}

.wrap-5 {
  margin-top: 1.5rem !important;
}

.wrap-6 {
  margin-top: 3rem !important;
}

.wrap-7 {
  margin-top: 5rem !important;
}





/*margin---------------*/

.margin-0{
    margin:0;
}

.margin,margin-4{
    margin:1rem;
}
.margin-1{
    margin:0.25rem;
}
.margin-2{
    margin:0.5rem;
}
.margin-3{
    margin:0.75rem;
}
.margin-5{
    margin:1.5rem;
}
.margin-6{
    margin:3rem;
}

/*overflows--------*/

.overflow-none{
    overflow:hidden;
}
.overflow-scroll{
    overflow:scroll;
}
.overflow-x-none{
    overflow-x:hidden;
}
.overflow-y-none{
    overflow-y:hidden;
}
.overflow-x-scroll{
    overflow-x:scroll;
}
.overflow-y-scroll{
    overflow-y:scroll;
}


/*shadows-----------*/
.flat{
    box-shadow:none;
}
.shadow{
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.depth{
  box-shadow:inset 1px 2px 9px var(--auto);
}

/*animation------*/
.anime-fade{
    animation:fade 1s;
}
.anime-zoom{
    animation:zoom 1s;
}
.anime-spin{
    animation:spin 1s;
}
.anime-left{
  animation:left 1s;
}
.anime-right{
  animation:right 1s;
}
.anime-down{
  animation:down 1s;
}
.anime-top{
  animation:top 1s;
}
.anime-flip{
  animation:flip 1s;
}
.anime-jelly{
    animation:jelly 1s;
}



/*animate functions*/
.anime-forever{
    animation-iteration-count:infinite ;
}
.anime-constant{
    animation-timing-function:linear;
}
.anime-twice{
  animation-iteration-count:2;
}
.anime thrice{
  animation-iteration-count:3;
}
/*animation speed*/
.anime-fast{
    animation-duration:0.5s;
}
.anime-faster{
    animation-duration:0.25s;
}
.anime-fastest{
    animation-duration:0.1s;
}
.anime-slow{
    animation-direction:1.5s;
}
.anime-slower{
    animation-duration:2s;
}
.anime-slowest{
    animation-duration:3s;
}

/*extra animations*/
.anime-delayed{
    animation-delay:0.5s;
}
.anime-forwards,.anime-stop-at-end{
    animation-fill-mode:forwards;
}
.anime-alter{
    animation-direction:alternate;
}
.anime-reverse{
    animation-direction:reverse;
}
.anime-alter-reverse{
    animation-direction:alternate-reverse;
}







/*COLOR============================*/



  
/*colors*/
.red{
    background-color:var(--red);
}
.salmon{
    background-color:var(--salmon);
}
.maroon{
    background-color:var(--maroon);
}

.lime{
    background-color:var(--lime);
}
.green{
    background-color:var(--green);
}
.olive{
  background-color:var(--olive);
}



.blue{
    background-color:var(--blue);
}
.cyan{
    background-color:var(--cyan);
}
.indigo{
  background-color:var(--indigo);
}


.gold{
    background-color:var(--gold);
}
.yellow{
    background-color:var(--yellow);
}
.sand{
  background-color:var(--sand);
}


.violet{
  background-color:var(--violet);
}
.purple{
  background-color:var(--purple);
}
.magenta{
  background-color:var(--magenta);
}


.rose{
    background-color:var(--rose);
}
.pink{
    background-color:var(--pink);
}
.apple{
  background-color:var(--apple);
}


.teal{
    background-color:var(--teal);
}
.aqua{
  background-color:var(--aqua);
}
.sea{
    background-color:var(--sea);
}


.orange{
    background-color:var(--orange);
}
.amber{
    background-color:var(--amber);
}
.vermilion{
  background-color:var(--vermilion);
}


.light{
    background-color:var(--light);
    color:black;
}

.grey{
    background-color:var(--grey);
    color:white;
}
.steel{
  background-color:var(--steel);
}




.auto{
  background-color:var(--auto);
}
.alpha{
  background-color:var(--alpha);
}


.dark{
    background-color:var(--dark);
    color:white;
}
.night{
    background-color:var(--night);
    color:white;
}
.bright{
  background-color:white;
  color:var(--dark);
}




.brown{
    background-color:var(--brown);
}
.wood{
    background-color:var(--wood);
}
.coco{
  background-color:var(--coco);
}

.primary{
  background-color:var(--primary);
  color:white;
}
.secondary {
  background-color: var(--secondary);
  color:var(--dark);
}

.accent {
  background-color: var(--accent);
}

/*text colors------------*/
.text-adaptive{ 
  color:var(--text);
}


.text-primary{
 color:var(--primary);
}
.text-secondary {
 color: var(--secondary);
}
.text-accent{
 color: var(--accent);
}




.text-red{
    color:var(--red);
}
.text-salmon{
    color:var(--salmon);
}
.text-maroon{
    color:var(--maroon);
}





.text-lime{
    color:var(--lime);
}
.text-green{
    color:var(--green);
}
.text-olive{
  color:var(--olive);
}




.text-blue{
    color:var(--blue);
}
.text-cyan{
    color:var(--cyan);
}
.text-indigo{
    color:var(--indigo);
}


.text-gold{
    color:var(--gold);
}
.text-yellow{
    color:var(--yellow);
}
.text-sand{
  color:var(--sand);
}

.text-violet{
    color:var(--violet);
}
.text-purple{
    color:var(--purple);
}
.text-magenta{
  color:var(--magenta);
}

.text-rose{
    color:var(--rose);
}
.text-pink{
    color:var(--pink);
}
.text-apple{
    color:var(--apple);
}

.text-teal{
    color:var(--teal);
}
.text-aqua{
  color:var(--aqua);
}
.text-sea{
    color:var(--sea);
}


.text-orange{
    color:var(--orange);
}
.text-amber{
    color:var(--amber);
}
.text-vermilion{
  color:var(--vermilion);
}







.text-light{
    color:var(--light);

}
.text-grey{
    color:var(--grey);
}
.text-steel{
  color:var(--steel);
}

.text-bright{
    color:white;
}

.text-brown{
    color:var(--brown);
}
.text-wood{
    color:var(--wood);
}
.text-coco{
  color:var(--coco);
}

.text-dark{
    color:var(--dark);
}
.text-night{
    color:var(--night);
}

.text-auto{
    color:var(--auto);
}
.text-alpha{
    color:var(--alpha);
}








/*animators----------*/

@keyframes fade{
    from{opacity:0;}
    to{opacity:1;}
}

@keyframes zoom{
    from{transform:scale(0);}
    to{transform:scale(1);}
}

@keyframes spin{
    from{}
    to{transform:rotate(360deg);}
}

@keyframes left{
  from {
    transform: translate3d(-100%, 0, 0);
  visibility: visible;
  }

  to {
    transform:translate3d(0, 0, 0);
  }
}


@keyframes right{
  from{
    transform: translate3d(100%,0,0);
    visibility:visible;
  }
  to{
    transform: translate3d(0,0,0);
  }
}

@keyframes down{
  from{
    transform: translate3d(0, 100%, 0);
    visibility:visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes top{
  from{
    transform: translate3d(0,-100%,0);
    visibility: visible;
  }
  to{
    transform: translate3d(0,0,0);
  }
}

@keyframes flip{
 from{ transform:rotateX(90deg);}
 to{transform:rotateX(0deg);}
}


@keyframes jelly{
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}



@keyframes loader{
  from{
    opacity:1;
   transform: scale (1);
  }
  to{
    opacity:0.21;
    transform:scale(1.5);
  }
}



/*MEDIA-QUERIES & GRID=============*/

@media screen and (min-width:760px){
.hide-from-md{
    display:none !important;
}
.row-from-md{
  flex-direction:row;
}
.form.row-from-md .inp{
  width:60%;
}
.form.row-from-md .btn{
  width:40%;
}
}


@media screen and (max-width:760px){
.hide-till-md{
    display:none !important;
}
}
@media (max-width:1025px){
.hide-till-lg{
    display:none !important;
}
}


.container{
  margin:0 auto;
  width:90%;
}




.row{
  --gutter:0.25rem;
  --gutter-y:var(--gutter);
  
    width:100%;
    margin:0 auto;
    display:flex;
    flex:0 1 auto;
    flex-direction:row;
    max-width:960px;
    flex-wrap:wrap;
    box-sizing:border-box;
    
}
.no-gutter{
  --gutter:0;
}



.col{
  
    box-sizing: border-box;
  flex: 0 0 auto;
  padding:calc(var(--gutter-y)*0.5) calc(var(--gutter)*0.5);
  
}
.col *{
  margin:0;
}




.col-1{
    flex-basis:8.333333333%;
    max-width:8.333333333%;

}
.col-2{
    flex-basis:16.6666667%;
    max-width:16.6666667%;
}
.col-3,.col-onefourth{
  flex-basis:25%;
    max-width:25%;
}
.col-4,.col-onethird{
  flex-basis:33.333333%;
   max-width:33.333333%;
}
.col-5{
  flex-basis:41.6666667%;
    max-width:41.6666667%;
}
.col-6,.col-half{
  flex-basis:50%;
  max-width:50%;
}
.col-7{
  flex-basis:58.33333%;
  max-width:58.33333%;
  
}
.col-8{
    flex-basis:66.66666%;
    max-width:66.666666%;
}
.col-9,.col-threefourth{
  flex-basis:75%;
    max-width:75%;
}
.col-10{
  flex-basis:83.3333q;
   max-width:83.33333%;
}
.col-11{
  flex-basis:91.666666%;
   max-width:91.666666%;
}
.col-12,.col-full{
  flex-basis:100%;
    max-width:100%;
    margin:0;
}
.col-auto{
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
}



/*offset*/
.offset-1{
    margin-left:8.333333333%;
}
.offset-2{
    margin-left:16.6666667%;
}
.offset-3{
    margin-left:25%;
}
.offset-4{
    margin-left:33.33333333%;
}
.offset-5{
    margin-left:41.6666667%;
}
.offset-6{
    margin-left:50%;
}
.offset-7{
    margin-left:58.33333%;
}
.offset-8{
    margin-left:66.666666%;
}
.offset-9{
    margin-left:75%;
}
.offset-10{
    margin-left:83.33333%;
}
.offset-11{
    margin-left:91.666666%;
}



@media (max-width:1024px) and (min-width:760px){
      .hide-at-md{
    display:none !important;
}
  
   .row.break-at-md .col,.container.row .filler{
    width:100% !important;
    margin-left:0 !important;
    display:block;
    
    
}
.row.break-at-md{
  display:block;
}

  
 .col-12-at-md,.col-full-at-md{
   flex-basis:100%;
    max-width: 100%;
    margin: 0;
}

.col-6-at-md,.col-half-at-md{
    flex-basis:50%;
  max-width:50%;
}

.col-3-at-md,.col-onefourth-at-md{
    flex-basis:25%;
    max-width: 25%;
}

.col-4-at-md,.col-onethird-at-md{
    flex-basis:33.333333%;
    max-width: 33.333333%;
}

.col-1-at-md {
    flex-basis:8.333333333%;
    max-width:8.333333333%;
}

.col-2-at-md {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}

.col-5-at-md {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.col-7-at-md {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.col-8-at-md {
    flex-basis:66.666666%;
    max-width: 66.666666%;
    
}

.col-9-at-md,.col-threefourth-at-md{
  flex-basis:75%;
    max-width: 75%;
}

.col-10-at-md {
  flex-basis:83.333333%;
    max-width: 83.33333%;
}

.col-11-at-md {
    flex-basis:91.666666%;
    max-width: 91.666666%;
}
.col-auto-at-md{
      flex-grow: 1;
      flex-basis: 0;
      max-width: 100%;
}
.offset-1-at-md {
    margin-left: 8.333333333%;
}
.offset-2-at-md {
    margin-left: 16.6666667%;
}
.offset-3-at-md {
    margin-left: 25%;
}
.offset-4-at-md {
    margin-left: 33.33333333%;
}
.offset-5-at-md {
    margin-left: 41.6666667%;
}
.offset-6-at-md {
    margin-left: 50%;
}
.offset-7-at-md {
    margin-left: 58.33333%;
}
.offset-8-at-md {
    margin-left: 66.666666%;
}
.offset-9-at-md {
    margin-left: 75%;
}
.offset-10-at-md {
    margin-left: 83.33333%;
}
.offset-11-at-md {
    margin-left: 91.666666%;
}
}

@media(min-width:760px){
    
    .row {
    width: 85%;
    padding: 0; }
    
    .container{
      width:85%;
    }
  
}

@media screen and (max-width:760px) {

  
   .row.break-at-sm .col,.row.break-at-sm .filler{
    width:100% !important;
    margin-left:0 !important;
    display:block;
}
.row.break-at-sm{
  display:block;
}

  
  .col-auto-at-sm{
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
  }
    .col-1-at-sm {
        flex-basis: 8.333333333%;
        max-width: 8.333333333%;
    }

    .col-2-at-sm {
        flex-basis: 16.6666667%;
        max-width: 16.6666667%;
    }

    .col-3-at-sm, .col-onefourth-at-sm {
        flex-basis: 25%;
        max-width: 25%;
    }

    .col-4-at-sm, .col-onethird-at-sm {
        flex-basis: 33.333333%;
        max-width: 33.333333%;
    }

    .col-5-at-sm {
        flex-basis: 41.6666667%;
        max-width: 41.6666667%;
    }

    .col-6-at-sm, .col-half-at-sm {
        flex-basis: 50%;
        max-width: 50%;
    }

    .col-7-at-sm {
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }

    .col-8-at-sm {
        flex-basis: 66.66666%;
        max-width: 66.666666%;
    }

    .col-9-at-sm, .col-threefourth-at-sm {
        flex-basis: 75%;
        max-width: 75%;
    }

    .col-10-at-sm {
        flex-basis: 83.3333%;
        max-width: 83.33333%;
    }

    .col-11-at-sm {
        flex-basis: 91.666666%;
        max-width: 91.666666%;
    }

    .col-12-at-sm, .col-full-at-sm {
        flex-basis: 100%;
        max-width: 100%;
        margin: 0;
    }
    .offset-1-at-sm {
    margin-left: 8.333333333%;
}
.offset-2-at-sm {
    margin-left: 16.6666667%;
}
.offset-3-at-sm {
    margin-left: 25%;
}
.offset-4-at-sm {
    margin-left: 33.33333333%;
}
.offset-5-at-sm {
    margin-left: 41.6666667%;
}
.offset-6-at-sm {
    margin-left: 50%;
}
.offset-7-at-sm {
    margin-left: 58.33333%;
}
.offset-8-at-sm {
    margin-left: 66.666666%;
}
.offset-9-at-sm {
    margin-left: 75%;
}
.offset-10-at-sm {
    margin-left: 83.33333%;
}
.offset-11-at-sm {
    margin-left: 91.666666%;
}
}
