.hide-at-lg
{
    @include resp (min, 900px) {
        display: none !important;
    };
}

.hide-till-lg
{
    @include resp (max, 900px) {
        display: none !important;
    };
}

.hide-at-sm
{
    @include resp (max, 550px) {
        display: none !important;
    };
}

.hide-from-md
{
    @include resp (min, 680px) {
        display: none !important;
    };
}

.hide-till-md
{
    @include resp (max, 680px) {
        display: none !important;
    };
}

@media (max-width: 900px) and (min-width: 680px) {
	.hide-at-md {
		display: none !important;
	}
}

.container
{
    @include resp (min, 400px) {
        width: 85%;
        padding: 0;
    };
}

.container.break-at-sm .col,
.container.break-at-sm .filler
{
    @include resp (max, 550px) {
        width: 100% !important;
        margin: {
            left: 0 !important;
        };
    };
}

.container.break-at-md .col,
.container.break-at-md .filler
{
    @include resp (max, 680px) {
        width: 100% !important;
        margin: {
            left: 0 !important;
        };
    };
}